/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

.text-center {
    text-align: center;
}

/* ///////////////////////////////////////
TABLE */

.table-head th {
    padding-top: 18px;
    padding-bottom: 18px;
    font-family: Lato-Bold;
    font-size: 16px;
    font-weight: 150;
    color: #fff;
    line-height: 1.4;
    background-color: rgb(67, 131, 226);
}

#table-head {
    border: 1px solid #ccc;
    margin: 5% 0;
    transition: 0.5s;
    -webkit-border-radius:4px;
    border-radius: 4px;
    border-collapse: separate !important;
}
  
.column1 {
    width: 30%;
    padding-left: 40px;
    text-align: left;
}

.column2 {
    width: 20%;
    text-align: right;
}

.column3 {
    width: 20%;
    text-align: right;
}

.column4 {
    width: 30%;
    text-align: right;
    padding-right: 40px;
}

.table-row:hover {
    cursor: pointer;
    background-color: rgb(228, 228, 228);
}

td {
    padding-top: 5px;
    padding-bottom: 5px;  
}

#list-group {
    border-radius: 4px;
    top: 50px;
}

table {
    border: 1px solid #ccc;
    margin: 5% 0;
    transition: 0.5s;
    -webkit-border-radius:4px;
    border-radius: 4px;
    border-collapse: separate !important;
    border-spacing: 0;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
}

#table-title {
    top: 80px;
    position: absolute;
    color: rgb(68, 68, 68);
}

.green {
    color: green;
    font-weight: 200;
}

#table-hr {
    position: absolute;
    top: 75px;
}

/* //////////////////////////////
OTHER */ 

#search {
    width: 50%;
    height: 30px;
    position: relative;
    top: 10px;
    margin: auto;
}

a {
    color: #fff;
    text-decoration: none;
}

.text-center a {
    color: #6c7ae0;
}

.content-group {
    margin-top: 140px;
}

.clickable {
    cursor: pointer;
}

.footer {
    background-color: rgb(67, 131, 226);
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    height: 75px;
}

hr.white {
    color: white;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 10rem;
    min-height: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
}

.navbar-nav {
    width: 10%;
}

.navbar-nav li {
    width: 50%;
}

.navbar-collapse {
    margin: auto;
}

#color-bar {
    width: 100%;
    background-color: rgb(74, 147, 255);
    height: 5px;
    top: 0px;
    position: fixed;
    z-index: 100;
}

.navbar {
    top: 5px;
}

#hemom {
    margin-left: 5%;
}