{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Aktiearbitrage</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> 
        <script src="{% static 'js/functions.js' %}"></script> 
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Aktiearbitrage</a>
              </div>
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Hem</a></li>
                  <li><a href="/about">Om</a></li>
                </ul>
                <input type="text" id="search" name="search" onkeyup="updateSearchResult(this)"/>
              </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Aktiepriser uppdateras var 30 min.</p>
        </div>
    </body>
</html> 