{% extends "mainpage/base.html" %}

{% block content %}
    <div class="content-group">
        <h1 id="stock-name">{{ name }}</h1>
        <hr>
        <canvas id="stock-chart" width="50%"></canvas>
        <hr>
        <p id="stock-text">
            Handelsbanken är en fullsortimentsbank för både privat- och företagskunder med rikstäckande kontorsnät i Sverige, Storbritannien, Danmark, Finland, Norge och Nederländerna. Handelsbanken har över 800 kontor i dessa länder som man betraktar som sina hemmamarknader. Handelsbanken har verksamhet i fler än 20 länder.
        </p>
        <table id="stock-info-table">
            <tr>
                <th>Aktie</th>
                <th></th>
                <th class="table-cell-number">Pris</th>
                <th class="table-cell-number">Nu</th>
                <th class="table-cell-number">1v</th>
                <th class="table-cell-number">1m</th>
                <th class="table-cell-number">Volym</th>
            </tr>
            <tr id="type1-info"></tr>
            <tr id="type2-info"></tr>
        </table> 
    </div>
{% endblock %}